body {
  margin: 40px;
}

h3 {
  font-weight: normal;
  position: relative;
}
#todays-temperature {
  font-size: 50px;
}

.units {
  position: relative;
  font-size: 20px;
  top: -25px;
}

#current-temp {
  margin: 0;
}
.city-hour {
  font-size: 18px;
}

.form-control {
  display: inline;
  margin-top: 15px;
}
.container {
  max-width: 70%;
  margin: auto;
}

#forecast {
  color: black;
  text-align: center;
  margin-top: 150px;
}

.today-weather {
  height: 600px;
  background: url(https://images.pexels.com/photos/72473/pexels-photo-72473.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
    right center no-repeat;
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 20px;
  color: aliceblue;
}

.todaysMetrics {
  text-decoration: none;
  color: aliceblue;
}

.open-code-by-me {
  text-align: center;
}
